# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node.js
node_modules/
dist/
.env
.env.*.local

# NestJS
.nest-cli.json
*.tsbuildinfo

# Tests
/coverage
/.nyc_output

# Java
*.class
*.jar
*.war
*.ear
target/
bin/
out/

# MySQL
*.sql
*.db

# Eclipse/IDE-specific
.metadata/

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.iml

# Build Files
/build/
.gradle/
.settings/
.mvn/
target/

# temp directory
.temp
.tmp